.button {
  background: rgba(13, 143, 13, 0.308);
  border-radius: 0.3rem;
  padding: 0.5rem;
  border: 1px solid rgb(95, 93, 93);
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
}

.button:hover {
  padding: 1rem;
}
